<% provide(:title, "Agents Index") %>
<div class="row">
	<div class="span8">
		<ol>
			<li><%= link_to "My stock", onhand_quantities_path %></li>
			<li><%= link_to "Check Into Route", '#' %></li>
			<li><%= link_to "Check Into Outlet", '#' %></li>
		</ol>
	</div>
</div>
