<% provide(:title, "Agents Index") %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render "/shared/agent_side_menu" %>
		</section>
	</aside>
	<div class="span8">
		<ol>
			<li><%= link_to "View Outlets", outlets_path %></li>
			<li><%= link_to "My stock", onhand_quantities_path %></li>
		</ol>
	</div>
</div>
