<li>
	<%= link_to "#{employee.name}" , edit_employee_path(employee) %> 
	reports to <%= link_to "#{employee.reports_to.name}" , edit_employee_path(employee.reports_to)  %>
	 | <%= employee.contact_phone %> | 
	<%= link_to "Delete" , employee_path(employee) ,
	 method: :delete, data: { confirm: "Are you sure you want to delete #{employee.name}?" } %>
</li>