<div class="navbar navbar-inner header-menu">
    <div class="container">     
        <nav>
        <ul class="nav">
          <li><%= link_to "Home", employee_index_path , id: "home" %></li>
          <li><%= link_to "Items", items_path , id: "items" %></li>
          <li><%= link_to "Agents", agents_path , id: "agents"%></li>
          <li><%= link_to "Locations", "#" , id: "locations" %></li>          
          <li><%= link_to "Sign Out", employee_signout_path ,method: "delete" , id:"log_out" %></li>    
        </ul>
      </nav>
    </div>
</div>