@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight:normal;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
aside h2 , .company_structure h2{
  text-align:left;margin-bottom:15px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin: 5px 10px 0px 0px;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 8px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* sidebar */

aside {
margin-right:-1px;
border-right:1px solid $grayLighter;
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
/* Top Menu*/

.header-menu{
  height:39px;background:#f1f1f1;margin-bottom:30px;
}

.header-menu li{
  padding-left: 20px; 
  padding-right: 20px; 
}
.header-menu .nav{
margin-left:7%;text-align:center;
}
.header-menu .nav > li > a{
  color:#000000;
  &:hover{color:#999;}
}

.side_menu ,.side_menu > li > ul{
  list-style:none;
}

.side_menu > li, .side_menu > li > ul > li {
  margin-top:3px;margin-bottom:3px; 
}

.users{
  list-style: decimal;
  margin: 10px 0 0 0;

  li {
    padding: 8px 0;
    border-top: 1px solid #e8e8e8;
  }
}

#home {background: url(image_path("application_home.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#employees , #agents {background: url(image_path("user_suit.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#company_structure {background: url(image_path("application_view_list.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#event_log {background: url(image_path("report_link.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#log_out {background: url(image_path("key_delete.png")) no-repeat scroll 5px 50%;padding-left:25px;}

#locations , #modify_location_structure , #add_location_type {background: url(image_path("location.png")) no-repeat scroll 5px 50%;padding-left:25px;}

#items {background: url(image_path("cart.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#add_item {background: url(image_path("cart_add.png")) no-repeat scroll 5px 50%;padding-left:25px;}

#modify_company_structure {background: url(image_path("table_edit.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#all_employees {background: url(image_path("folder_user.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#add_employee , #add_agent {background: url(image_path("user_add.png")) no-repeat scroll 5px 50%;padding-left:25px;}

#routes {background: url(image_path("lorry.png")) no-repeat scroll 5px 50%;padding-left:25px;}
#add_route {background: url(image_path("lorry_add.png")) no-repeat scroll 5px 50%;padding-left:25px;}

/* Company Structure*/

.company_structure ul{
  list-style:none;
}
.company_structure li{
background: url(image_path("bullet.png")) no-repeat scroll 0px 0px transparent;padding-left:10px;
}
.company_structure p{
  margin-bottom:0px;
}

.reports_to{
font-size: 11px;color:#999999;padding:0px 0px 3px 0px;
} 

.top_level_subordinate{
  margin-top:-10px;
}
.subordinates {
margin-left:30px;margin-bottom:-10px;
}

/* items */

.table > thead , .table > tbody{
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;padding-top:0px;padding-bottom:0px;
}

#route_description{
  height:80px;
}

.indicator{
  font-size:11px;margin:-3px 3px 6px 3px;color:#8B5A00;
}

/* Home buttons */

.btn-custom {
  background-color: hsl(197, 58%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#61b4d5", endColorstr="#236984");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#61b4d5), to(#236984));
  background-image: -moz-linear-gradient(top, #61b4d5, #236984);
  background-image: -ms-linear-gradient(top, #61b4d5, #236984);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61b4d5), color-stop(100%, #236984));
  background-image: -webkit-linear-gradient(top, #61b4d5, #236984);
  background-image: -o-linear-gradient(top, #61b4d5, #236984);
  background-image: linear-gradient(#61b4d5, #236984);
  border-color: #236984 #236984 hsl(197, 58%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}