<li><%= link_to "#{location.name}" , edit_location_path(location) %> 
<% if location.parent_location %>
located within <%= link_to "#{location.parent_location.name}" , edit_location_path(location) %>
<% end %>
 | 
	<%= link_to "Delete" , location_path(location) , method: :delete , 
	data: { confirm: " Are you sure you want to delete #{location.name}? "} %> | <%= location.sub_locations.count %></li>