<% if sub_location.sub_locations.any? %>
<% for s in sub_location.sub_locations %>
<ul>
<li><%= s.name %><span class="reports_to">  -  within <%= s.parent_location.name %>  |  
	<%= link_to "+Add" , new_location_path(id: s.id) %>
	 |  <%= link_to "Delete" , location_path(s) , method: :delete , 
	 data: { confirm: "Are sure you want to delete #{s.name} with all its sub locations"}%></span></li>
<%= render partial: "sub_locations" , :locals => { :sub_location => s  }  %>
</ul>
<% end  %>
<% end  %>