<footer class="footer">
  <small>
    Aimsell SFA designed and developed
    by <a href="http://www.vosoffice.com" target="_blank">Virtual Office Solutions ltd</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contactus_path %></li>
    </ul>
  </nav>
</footer>